.list {
    background-color: #444753;
    overflow: auto;
}

.messageBox {
    background-color: #F2F5F8;
}

form {
    margin: 12px;
}

.img-sm {
    height: 35px;
    width: 35px;
    margin: 10px;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 100%;
}

.img-lg {
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 100%;
}

.name {
    font-size: 16px;
    color: #FFF;
}

.status {
    font-size: 13px;
    color: #6A6C75;
}

.title {
    border-bottom: 2px solid #FFF;
}

textarea {
    resize: none;
}